small {
  font-size: small;
}

.App {
  text-align: center;
}

.preview {
  max-width: 600px;
  width: 100%;
}

.main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
